{% extends 'base.html' %} {% block title %} Home Page {% endblock %}

 {% load static %} <!-- Load static files -->

{% block content %}
<div class="row mx-4 mt-3">
    {% for book in books %}
    <div class="col-lg-2 col-md-6 col-sm-12"> <!-- Responsive grid column -->
        <!-- <div class="bg-card text-card-foreground rounded-lg overflow-hidden shadow ml-1 mb-2">
            <img src="{{ book.image.url }}" class="card-img-top img-fluid" alt="Book Image"> 
            <div class="p-4">
              <h5 class="text-lg font-bold mb-2">{{ book.title }}</h5>
              <p class="text-sm text-muted">{{ book.author }}</p>
              <a href="{% url 'read' book.id %}"><button class="mt-4 bg-dark text-light px-4 py-2 rounded-lg hover:bg-primary/80">ဖတ်ရန်</button></a> 
            </div>
        </div> -->
        <div class="card-deck">
            <div class="card shadow ml-1 mb-2">
                <img src="{{ book.image.url }}" class="card-img-top img-fluid" alt="Book Image"> 
                <div class="card-body d-flex flex-column" style="height: 4.5cm">
                    <h5 class="card-title mb-auto">{{ book.title }}</h5>
                    <p class="card-text text-muted mt-auto">{{ book.author }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <a href="{% url 'read' book.id %}" class="mx-auto">
                            <button class="px-5 py-2 bg-dark text-light rounded-lg hover:bg-primary/80">ဖတ်ရန်</button>
                        </a> 
                    </small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}